<h1>New Exercise</h1>

<%= form_with(model: [@user, @exercise], local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :muscle_group %>
    <%= f.text_field :muscle_group %>
  </div>

  <div>
    <%= f.label :exercise_type %>
    <%= f.select :exercise_type, ['strength', 'stretch', 'cardio'] %>
  </div>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <h3>Exercise Details</h3>
  <div>
    <%= label_tag :sets %>
    <%= number_field_tag :sets %>
  </div>

  <div>
    <%= label_tag :reps %>
    <%= number_field_tag :reps %>
  </div>

  <div>
    <%= label_tag :weight %>
    <%= number_field_tag :weight %>
  </div>

  <div>
    <%= label_tag :duration %>
    <%= number_field_tag :duration %>
  </div>

  <div>
    <%= submit_tag 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
